@charset "utf-8";
/* CSS Document */

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
h1,h2,h3,h4,h5,strong{font-weight:normal;}
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */


/*public style*/
.fl{float:left;}
.fr{float:right;}
.clear{zoom:1;}
.clear:after{ content:''; display:block; clear:both;}
.gradient {
	background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
	background:linear-gradient(top, #FFFFFF, #f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
	+background:#f9f9f9;
}
.triangleUp, .triangleDownRed, .triangleDownGray { position:absolute; width:0; height:0; overflow:hidden; border-left:4px solid transparent; border-right:4px solid transparent; }
.triangleUp { border-bottom:4px solid #ca0309; }
.triangleDownRed { border-top:4px solid #ca0309; }
.triangleDownGray { border-top:4px solid #c4bdbd; }

/*end public style*/

/* layout */
#header, #nav, .concent{width:960px; margin: 0 auto;}
#search, .section, .sideSection, .ad, .sideAd, #footer, .login, .activity, .recommend {border:1px solid #dbdbdb; border-radius:6px;}
.ad, .sideAd, .sideSection{ margin-bottom:10px;}

body{ margin-bottom:30px;}
#header{  height:30px; border-radius:0 0 6px 6px;}
#nav{  height:100px; position:relative; }
#search{ width:958px; height:114px; margin:0 auto 10px;position:relative; }

.main{ width:710px;}
.mainWrap{ padding-bottom:10px;}
.section{ width:318px; padding:0 15px; }
.opptions{width:350px;  position:relative; }
.ad{ overflow:hidden; }

.side{ width:240px;}
.sideSection{ padding: 0 12px;  }
.sideAd{ overflow:hidden; }
#footer{ width:958px; height:78px; background:#f9f9f9; margin:0 auto;}


/* end layout */

.opptions .nav{ height:34px; position:relative; z-index:2; cursor:pointer;}
.opptions .nav li{ width:172px; text-align:center; line-height:33px; height:33px; border:1px solid #dbdbdb; border-bottom:none; border-radius:6px 6px 0 0; position:relative; }
.opptions .nav .active{ height:34px; background:#FFF; line-height:34px;}
.opptions .con{ width:318px; padding:0 15px;  border:1px solid #dbdbdb; border-radius:0 0 6px 6px;  position:absolute; top:34px; left:0; z-index:1; }

#header .city{ padding:5px 0 0 20px; color:#666666; }
#header .city a{ padding:0 7px; line-height:18px; display:inline-block; border:1px solid #e5e5e5; background:#fff; color:#999999;  border-radius:4px; box-shadow:1px 1px 0 #ededed; }
#header .city .active, #header .city .active:hover{ color:#d60d03; background:#fff; }
#header .city a:hover{ background:#e5e5e5;}

#header .link {  padding-right:20px; line-height:30px; color:#d5d5d5; word-spacing:4px; }
#header .link a { color:#666; background: url(../img/headerIco.gif) no-repeat 0 3px; padding-left:20px; }
#header .link a:hover { text-decoration:underline; }
#header .link .ico1 { background-position:0 3px; }
#header .link .ico2 { background-position:0 -27px; }

#nav ul{ position: absolute; top:10px;}
#nav ul li{ float:left;}
#nav ul li a{ width:66px; padding-top:50px; display:block; color:#333333; text-align:center; background:url(../img/nav_bg.png) no-repeat;}
#nav ul li a:hover{ color:#a70c01; font-weight:bold;}
#nav .bg1 { background-position:0 0; }
#nav .bg2 { background-position:-66px 0; }
#nav .bg3 { background-position:-132px 0; }
#nav .bg4 { background-position:-198px 0; }
#nav .bg5 { background-position:-264px 0; }
#nav .bg6 { background-position:-330px 0; }
#nav .bg7 { background-position:-396px 0; }
#nav .bg8 { background-position:-462px 0; }
#nav .bg9 { background-position:-528px 0; }
#nav .bg10 { background-position:-594px 0; }

#nav .bg1:hover { background-position:0 -70px; }
#nav .bg2:hover { background-position:-66px -70px; }
#nav .bg3:hover { background-position:-132px -70px; }
#nav .bg4:hover { background-position:-198px -70px; }
#nav .bg5:hover { background-position:-264px -70px; }
#nav .bg6:hover { background-position:-330px -70px; }
#nav .bg7:hover { background-position:-396px -70px; }
#nav .bg8:hover { background-position:-462px -70px; }
#nav .bg9:hover { background-position:-528px -70px; }
#nav .bg10:hover { background-position:-594px -70px; }
#nav h1{ width:223px; height:62px; margin:0 auto; position:relative; top:10px;}
#nav .nav1{ left:11px;}
#nav .nav2{ right:11px;}

#search .searchWrap{ width:958px; height:64px; border:1px solid #c40d0e; background:#e21c01; border-radius:5px; position:absolute;top:16px; left:-1px;}
#search .searchWrap ul{  left:226px; position:absolute; top:-27px;}
#search .searchWrap li{ float:left; height:25px; width:78px; text-align:center; line-height:25px; border:1px solid #f8d0bf; border-bottom:none; margin-right:1px; display:inline-block; border-radius:5px 5px 0 0; background:# }
#search .searchWrap  .active{ height:27px;background:#e21c01; border:1px solid #c40d0e; border-bottom:none; position:relative; top:-1px; color:#fff; font-weight:bold;}
#search .img1{ background:url(../img/search_img.png) no-repeat; width:163px; height:122px; position:absolute; left:32px; top:-3px;}
#search form{ position:absolute; left:226px; top:36px; }
#search .text{ width:380px; height:22px; border:none; color:#ea7a7a; line-height:22px; padding:0 12px; border-radius:3px; box-shadow:inset 2px 2px 1px #eebfb9; background:#fff1ef; float:left; margin-right:10px; display:inline-block;}
#search  .btn{width:63px; height:26px; border:none; background:url(../img/search_img.png) no-repeat -163px 0; float:left;} 
#search p{position:absolute; left:722px; top:29px; width:200px; height:35px; float:left; }
#search p a{float:left; color:#fff; line-height:18px;}
#search p a:hover{ text-decoration:underline;}
#search .upDate{ width:405px; height:30px; position:absolute; left:226px; bottom:0; background:url(../img/search_img.png) no-repeat -226px 8px;}
#search .wrap { width:336px; height:30px; overflow:hidden; position:relative; left:60px; }
#search .upDate ul{ width:336px; position:absolute; top:0px; left:0;}
#search .upDate li { height:30px; line-height:30px; }
#search .upDate li a{ color:#000000;}
#search .upDate li strong{ font-weight:normal; color:#d30703;}
#search .upDate li span{ color:#999999;}
#search .triangleUp{top:8px; right:0;}
#search .triangleDownRed{top:17px; right:0;}

.videoTitle{ height:42px; line-height:42px; background:url(../img/video_bg.gif) no-repeat 105px 10px; font-size:18px; font-family:arial; color:#d90000; font-weight:normal; position:relative;}
.videoTitle sup { position:absolute; top:-10px; font-family:'宋体'; }
.video{ height:285px; margin-bottom:13px;}
.videoList{ background:url(../img/video_bg.gif) no-repeat 4px -45px; height:78px;}
.videoList ul{ padding-left: 85px;}
.videoList li{ background:url(../img/dot.gif) no-repeat 0 9px; padding-left:8px; height:20px; line-height:20px; }
.videoList li a{color:#4d4d4d;}
.videoList li a:hover{ text-decoration:underline;}

.nav strong{  color:#cc0d13; padding-right:9px; font-family:Arial;}
.nav span{ color:#2b2d2d; font-weight:bold;}

.nav .triangleDownRed, .nav .triangleDownGray { top:14px; right:12px; }

.cate{ padding-top:15px; display:none;  }
.cate li{ vertical-align: top; margin-bottom:6px;  height:108px; background:url(../img/hot_list_li_bg.gif) no-repeat; border-radius:3px; position:relative; }
.cate li img{ border:1px solid #e6e6e6; height:84px; width:104px; position:absolute; top:10px; left:0;}
.cate li .cWrap{position:absolute; top:7px; left:127px;}
.cate li h3{ font-weight:normal;  }
.cate li h3 a{color:#bb0d0d; height:30px; line-height:30px; font-size:12px; display: inline-block;}
.cate li h3 a:hover{ text-decoration:underline;}
.cate li p{height:16px; line-height:16px; color:#6e6e6e;}
.more{ height:27px;  }
.more img{ position:absolute; bottom:10px; right:15px;}

.newTitle {  height:70px; position:relative; background:url(../img/new_title_bg.gif) no-repeat right 0; }
.newTitle strong, .newTitle span { position:absolute; left:24px; }
.newTitle strong { font-size:12px; font-family:arial; color:#ea2b31; top:19px; }
.newTitle span { font-size:24px; color:#333; top:31px; font-weight:normal; }
.newTitle em { font-size:36px; font-weight:bold; color:#ec1c16; position:absolute; left:125px; top:16px; }

.activity { width:348px; float:left; }
.recommend { width:348px; float:right; }
.recommend .newTitle { background-position:right -70px; }
.activity, .recommend { height:498px; }

.activity .con { background: url(../img/activity_bg.gif) no-repeat; }
.activity .info { padding:16px 25px 0; height:104px; }
.activity .img { float:left; width:84px; height:84px; position:relative; }
.activity .mask { width:84px; height:84px; background:url(../img/activity_bg.gif) no-repeat -373px 0; position:absolute; top:0; left:0; }
.activity .img img { width:84px; height:84px; }
.activity .text { float:right; width:204px; }
.activity .text h3 { height:32px; font-size:12px; }
.activity .text em, .activity .text span { float:left; margin-right:4px; }
.activity .text em { width:25px; height:25px; background:url(../img/activity_bg.gif) no-repeat -348px 0; font-family:arial; font-size:14px; color:#cf3530; text-align:center; line-height:25px; }
.activity .text span { text-indent:2px; padding-top:4px; }
.activity .text p { line-height:18px; color:#999; }

.calendar { width:323px; padding-left:25px; position:relative; }
.calendar h3 { height:34px; line-height:34px; text-align:center; margin-right:31px; background:url(../img/adorn.gif)  repeat-x; word-spacing:10px; }
.calendar h3 span { font-size:14px; font-family:arial; color:#666; }
.calendar ol li { width:40px; height:40px; line-height:40px; margin:0 2px 2px 0; background:#ededed; float:left; text-align:center; position:relative; font-weight:bold; color:#666; font-family:arial; }
.calendar .normal { background:#f8f8f8; color:#ccc; }
.calendar .active, .calendar .img { position:absolute; top:0; left:0; }
.calendar .active { width:36px; height:36px; border:2px solid #d30408; cursor:pointer; }
.calendar .img { width:40px; height:40px; cursor:pointer; }

.todayInfo { width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background:#fff; position:absolute; top:136px; left:288px; box-shadow:4px 4px 0 rgba(0,0,0,0.2); display:none; }
.todayInfo img { width:80px; height:80px; border:2px solid #dbdbdb; float:left; }
.todayInfo .text { width:200px; float:right; }
.todayInfo h4 { font-size:12px; color:#333; padding-bottom:8px; }
.todayInfo strong { color:#ccc; font-size:18px; vertical-align:middle; }
.todayInfo p { color:#999; line-height:20px; }
.todayInfo span { width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../img/adorn.gif) no-repeat 0 -48px; }

.recommend .pic { width:294px; height:168px; padding:12px 12px 0; background:#f8f8f8; position:relative; margin:0 auto; border-radius:6px; }
.recommend .pic ul { width:223px; height:133px; position:absolute; top:12px; left:12px; }
.recommend .pic ul li { width:223px; height:133px; border:1px solid #fff; position:absolute; top:0; left:0; }
.recommend .pic ul img { width:223px; height:133px; }
.recommend .pic ol { position:absolute; top:12px; right:12px; }
.recommend .pic ol li,.recommend .pic ol img { width:54px; height:30px; }
.recommend .pic ol li { border:3px solid #fff; margin-bottom:13px; }
.recommend .pic ol .active { border:3px solid #d6191d; }
.recommend .pic p { line-height:32px; position:absolute; left:12px; bottom:0px; }

.recommend .list { padding:18px 26px 0; }
.recommend .list li { height:27px; vertical-align:middle; }
.recommend .list em { float:left; color:#dfdfdf; margin-right:7px; }
.recommend .list em img { margin-right:3px; }
.recommend .list a { float:left; color:#454545; }
.recommend .list a:hover { text-decoration:underline; }
.recommend .list span { float:right; font-family:arial; font-size:12px; color:#999; }
 
.sWrap{ height:40px;}
.sWrap h2{ line-height:40px; background:url(../img/more.gif) no-repeat 280px 14px; font-family:'宋体'; font-size:12px;  }
.sWrap h2 strong{ color:#cc0d13; height:40px; line-height:40px; margin-right:5px; font-weight:bold;}
.sWrap h2 span{color:#010000; height:40px; line-height:40px; font-weight:bold;}
.sList{ height:288px;}
.sList li{ width:318px;}
.sList .befor{  height:30px; line-height:30px; border-radius:5px;background:#f1f1f1; margin-bottom:3px; padding:0 9px;}
.sList .befor em{ font-size:10px;  color:#d80000; font-weight:bold; padding-right:10px;}
.sList .befor span{ color:#333333; padding-right:85px;}
.sList .befor strong{ color:#666666; }
.sList .afterMore{ display:none; height:70px; border-radius:5px; background:#d90000; position:relative;}
.sList .afterMore img{ width:50px; height:50px; position:absolute; top:10px; left:10px;}
.sList .afterMore .sTitle{position:absolute; top:10px; left:70px; }
.sList .afterMore h3{ height:26px; font-size:13px; font-weight:bold; line-height:26px; color:#ffffff;}
.sList .afterMore span{ height:24px; line-height:24px; color:#ffffff; display:inline-block;}
.sList .afterMore p{ height:20px; line-height:20px;  font-weight:bold; color:#ffffff;  position:absolute; bottom:-2px; right:6px; font-size:20px; }

.listSection{ display:none; padding:3px 0; }
.listSection li{ height:27px; line-height:27px; border-bottom:1px dotted #cbcbca; background: url(../img/dot.gif) no-repeat 5px center; vertical-align: middle;}
.listSection li a{  float:left; color:#333; text-indent:14px;}
.listSection .noB{ border-bottom:none; padding-bottom:1px;}
.listSection li a:hover{color:#d80000;}
.listSection li em{color:#c3c3c3;}
.listSection li span{ color:#c75d61;}
.listSection .col1, .listSection .col2, .listSection .col3{ float:left;}
.listSection .title .col1, .listSection .col2, .listSection .col3{text-align:center; }
.listSection .title{ background:none; color:#999999;}
.listSection .col2 img{ position:relative; top:9px;}

.tab ul{  height:26px; margin-bottom:-1px;}
.tab ul li{ height:24px; line-height:24px; color:#666666; float:left; border:1px solid #dadada; margin-right:-1px; text-align:center; border-radius:4px 4px 0 0; position:relative;}
.tab li a { top:10px; right:12px; }
.tab ul .active{ height:25px; line-height:25px; border-bottom:none; background:#fff;font-weight:bold; color:#454545;}

.section .tab { padding:0 10px; cursor:pointer; height:25px; border-bottom:1px solid #dadada; }
.section .tab li { width:98px; }
.sideSection .tab ul{  height:24px; margin-bottom:-1px;}
.sideSection .tab { padding:0 6px; height:23px; border-bottom:1px solid #dadada; }
.sideSection .tab ul .active{ height:23px; line-height:23px; border-bottom:none; background:#fff;font-weight:bold; color:#454545;}
.sideSection .tab li { width:66px; height:22px; line-height:22px;}

.section  .col1{ width:255px; }
.section  .col2{ width:51px;  }
.sideSection .col1 { width:137px; }
.sideSection .col2 { width:35px; }
.sideSection .col3 { width:36px; }

.soso{ height:58px;}
.soso form{ padding-top:14px; height:25px; }
.soso form strong{ font-weight:bold; vertical-align: top; color:#595959; line-height:25px; }
.soso form .text{ vertical-align: top; width:176px; height:20px; border:1px solid #9c9c9c; line-height:20px; color:#9c9c9c;}
.soso form .btn{ width:24px; height:25px; background:url(../img/btn.gif) no-repeat ; border:none; margin-left:6px; cursor:pointer; }

.hotArea { height:258px; }
.hotArea li { margin:0 2px 2px 0; float:left; position:relative; }
.hotArea li, .hot_area li img { width:78px; height:78px; }
.hotArea .area1, .hot_area .area1 img { width:156px; height:78px; }
.hotArea .area2, .hot_area .area2 img { width:77px; height:78px; }
.hotArea p { width:144px; height:66px; padding:12px 0 0 12px; line-height:18px; background:rgba(0,0,0,0.5); color:#fff; position:absolute; top:0; left:0; }

.help{ height:36px; line-height:18px; padding:0 20px 0 6px; text-indent:24px; color:#333333;}
.helpF{ border-bottom:1px solid #ededee; height:33px; padding:11px 0; margin-bottom:16px;}
.helpF strong{ background:url(../img/help.gif) no-repeat 8px 0; padding: 0 30px; height:18px; line-height:18px; color:#b80000; font-weight:bold; font-size:15px; font-family:Arial;  }
.helpF span{ padding-left:36px;  background:url(../img/help.gif) no-repeat 12px -44px;  height:18px; line-height:18px; font-family:Arial;}
.helpLis{ height:100px; width:144px;}
.helpLis p{ height:18px; line-height:18px; font-weight:bold; padding-left:10px;}
.helpLis li{padding-left:22px; height:18px; line-height:18px;  background:url(../img/dot.gif) no-repeat 15px 8px;}

.madia{ height:205px; padding-top:3px;}
.madia li{ width:318px; height:34px; padding-top:8px;  vertical-align:middle; }
.madia li a{  width: 88px;  float:left;}
.madia li p{ width:220px; height:34px; line-height:17px; float:right; }



/*side*/
.login { height:138px; overflow:hidden; margin-bottom:10px; }
.login h2 { text-indent:12px; color:#000; font-size:12px; line-height:34px; border-bottom:1px solid #dbdbdb; }
.login .form { width:214px; padding:15px 0 2px; border-bottom:1px solid #f2f2f2; margin:0 auto; position:relative; }
.login li { height:26px; vertical-align:middle; }
.login li span, .login li input, .login li strong { float:left; }
.login span { float:left; width:58px; color:#595959; word-spacing:7px; }
.login .text { float:left; width:87px; height:17px; margin-right:3px; overflow:hidden; border:1px solid #dbdbdb; background:#f7f7f7; }
.login strong { font-weight:normal; padding-left:3px; }
.login .btn { width:54px; height:22px; border:none; background:#cb0000; color:#fff; font-family:'宋体'; font-size:12px; font-weight:bold; border-radius:10px; }
.login p { line-height:32px; text-align:center; word-spacing:20px; }
.login p a { padding-left:14px; background:url(../img/dot.gif) no-repeat 4px center; color:#666; }
.login p a:hover { text-decoration:underline; }

.siWrap{ height:40px;}
.siWrap h2{ line-height:40px; background:url(../img/more.gif) no-repeat 177px 14px; font-family:'宋体'; font-size:12px;  }
.siWrap h2 strong{ color:#cc0d13; height:40px; line-height:40px; margin-right:5px; font-weight:bold;}
.siWrap h2 span{color:#010000; height:40px; line-height:40px; font-weight:bold;}
.sCate{  padding-bottom:2px;  }
.sCate li { margin-bottom:10px;  border-bottom:1px dashed #cbcbca; height:83px;}
.sCate li img, .rebate img{ height:78px; width:98px; float:left;}
.sCate li .cWrap, .rebate .cWrap{ width:108px; font-family:'微软雅黑'; font-size:12px; float:right;}
.sCate li h3, .rebate h3{ font-weight:normal;  height:30px; line-height:30px;}
.sCate li h3 a, .rebate h3 a{color:#bb0d0d; font-size:12px;}
.sCate li h3 a:hover, .rebate h3 a:hover{ text-decoration:underline;}
.sCate li p, .rebate p{height:18px; line-height:18px; color:#999999;}
.sCate li p a, .rebate p a{ color:#666666;}
.sCate li p a:hover, .rebate p a:hover{ text-decoration:underline;}

.CBD img{ width:214px; height:110px; }
.CBD a{ height:28px; line-height:28px; display:inline-block; color:#666666;}
.CBD a:hover{ text-decoration:underline;}

.rebate{height:83px;}
.rebateLis{ padding-bottom:1px;}
.rebateLis li{ height:27px; line-height:27px;  border-top:1px dotted #cbcbca; background:url(../img/dot.gif) no-repeat 7px 12px; padding-left:17px;}

.rebateLis strong{ margin-right:8px; }
.rebateLis strong a{color:#c75d61;}
.rebateLis a:hover{ text-decoration:underline;}
.rebateLis span a{ color:#333333;}
.rebateLis span a:hover{ text-decoration:underline;}
.rebateLis  em{ color:#c3c3c3;}

.rebateWrap{ height:328px;}
.rebate1{ padding-bottom:17px;}
.rebate1 img{ height:67px; width:90px; border:1px solid #dadada; padding:2px;}
.rebate1 li{ width:107px; float:left;}
.rebate1 .rWrap{ font-family:'微软雅黑'; }
.rebate1 h3{ font-weight:normal; color:#bb0d0d; height:27px; line-height:27px; font-size:11px;}
.rebate1 p{height:17px; line-height:17px; color:#999999; font-size:11px;}
.rebate1 p span{ color:#666666; font-size:11px;}

#footer .link{ margin:16px auto 0; width:520px; word-spacing:4px; height:21px; line-height:21px;}
#footer .link a{ color:#454545; }
#footer .link a:hover{ text-decoration: underline;} 
#footer p{ height:28px; line-height:28px; color:#767676; margin:0 auto; width:520px; padding-left:66px;}
#footer p span{ padding-left:20px;}